.wrapping-link{
  color: inherit;
}

.open-project-view-item:hover{
  color: grey;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
}
.open-project-view-item{
  color: black;
}

.project-description{
  word-break: break-all;
}

.project-image{
  width:100px;
  height:100px;
}

.project-box-style{
  border: solid gray 1px;
  min-width:300px;
  min-height:300px;
  max-width:300px;
  max-height:300px;
  overflow:hidden;
}

.projects-view{
  margin:auto;
}

.honey{
  height:50px;
  width:50px;
}

.offerer-taskoffer-status{
  list-style-type: none;

}

.new-task-input{
  width: 80%;
}

.per td{
  padding:5px;
}

.per label{
  display: block;
}

.per table {
    border-collapse: collapse;
}

.per table, .per th,.per td {
    border: 1px solid black;
}

.permis{
  max-width:1000px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.btn-secondary{
  background-color: #007bff;
}
.btn-secondary:hover{
  background-color: #49a1ff;
}
.filter-container {
  margin-left: -1px;
  max-width: 100% !important;
  height: 40px;
  margin-top: 20px;
}
.filter-logo{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  min-width: 90px;
  height: 100%;
  border-right: 1px solid #DEE2E6;
}
.filter-group{
  margin-left:10px;
}
.tag-filter{
  padding-top: 7px !important;
}
.budget-filter{
  margin-left: 20px;
  padding-top: 7px !important;
}
.tag-name{
  margin-left: 10px;
}
.list-group-item{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
#protag{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.date-filter{
  margin-left: 10px;
  padding-top: 7px !important;
}
.sort-logo{
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  min-width: 90px;
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  height: 100%;
}