{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}
{% load static %}
{% load project_extras %}
{% load bootstrap4 %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block title %}Projects{% endblock %}

{% block content %}
 <h2 class="mt-3 text-center" >Open Projects</h2>

<form class="form-container" action="/projects/" method="get">
  <div class="input-group">
    <div class="input-group-append">
      <button class="btn btn-secondary searchButton" type="submit">
        Search
        <i class="fa fa-search"></i>
      </button>
    </div>
    <input type="search" name="q" class="form-control" value={{query}} >
  </div>
  <div class="row filter-container border">
    <div class="filter-logo">
      Filter
      <i class="fa fa-filter"></i>
    </div>
    <div class="filter-group" >
      <div class="tag-filter" style="display:flex; flex-wrap: nowrap">
        Tags:
        <select class="tag-name" name="tag">
          {% if selected_tag == "" %}}
            <option class="tag-filter" value="" selected="selected">Any</option>
            {% for tag in tags %}
            <option value="{{tag}}">{{tag}}</option>
            {% endfor %}
          {% else %}
            <option class="tag-filter" value="">Any</option>
            {% for tag in tags %}
              {% if tag.name == selected_tag %}
                <option value="{{tag}}" selected="selected">{{tag}}</option>
              {% endif %}
              {% if tag.name != selected_tag %}
                <option value="{{tag}}" >{{tag}}</option>
              {% endif %}
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <div class="budget-filter">
      <div style="display:flex; flex-wrap: nowrap">
        Budget:
        <div class="budget-name" style="display:flex; flex-wrap: nowrap">
          <input type="range" id="price" name="price" min="0" max="500" value={{selected_price}} oninput="amount.value= '>'+price.value+'$'" style="margin-left: 10px;">
          <output id="amount" name="amount" for="price" style="margin-left: 10px;"> >{{selected_price}}$ </output>
        </div>
      </div>
    </div>
    <div class="sort-logo">
      Sort
      <i class="fa fa-sort"></i>
    </div>
    <div class="date-filter">
      Date:
      <select class="date-sort" name="date">
        {% if selected_sort == "asc" %}
        <option value="">Default</option>
        <option value="asc" selected="selected" >Newest first</option>
        <option value="desc">Oldest first</option>
        {% elif selected_sort == "desc" %}
        <option value="">Default</option>
        <option value="asc">Newest first</option>
        <option value="desc" selected="selected" >Oldest first</option>
        {% else %}
        <option value="">Default</option>
        <option value="asc">Newest first</option>
        <option value="desc">Oldest first</option>
        {% endif %}
      </select>
    </div>
  </div>
</form>


  <div class="row">
    <div class="col-lg text-center">

      <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
        <ul class="pagination">
          {% for project_category in project_categories %}
          <li class="page-item">
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              role="tab"
              id="category-{{project_category}}"
              aria-controls="{{project_category}}"
              href="#{{project_category}}">
                {{project_category}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class="row projects-view">
                {% if projects %}
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id %}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style" style="display: flex; flex-direction: column">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                          <div>
                              {% for ptag in project.tags.all %}
                                  <div class="page-item list-group-item" id="protag">{{ ptag.name }}</div>
                              {% endfor %}
                          </div>
                    </div>
                  </div>
                    <p style="font-size: 12px;color: grey;padding-top: 10px;margin: 0 auto;bottom: 10px;position: absolute; margin-left: 20%">Date created: {{ project.date }}</p>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}
                {% else %}
                <p>No results matches the query!</p>
              {% endif %}
            </div>

          </div>
        {% endfor %}

      </div>


    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}"></script>
  <script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);
  $(function() {
    $('.date-sort').change(function() {
      this.form.submit();
    });
  });
  $(function() {
    $('.tag-name').change(function() {
      this.form.submit();
    });
  });
  </script>
{% endblock %}
